__pycache__/
*.py[cod]
.DS_Store
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
.venv/
venv/
outputs/human/*
outputs/qa/*
outputs/sim/*
outputs/*
!/outputs/.gitkeep
!outputs/.gitkeep
!outputs/human/.gitkeep
!outputs/qa/.gitkeep
!outputs/sim/.gitkeep
references/source_papers/
/outputs/*
